.statusBoard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 2.25rem 1.5rem 1.5rem;
}

.header {
  display: flex;
  align-items: center;
}

.dateSection {
  display: flex;
  align-items: center;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.dataItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}
